@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

.social-icon-p{
    @apply ml-5 sm:mt-1 sm:text-xl md:text-3xl md:ml-8 md:my-1 lg:text-4xl lg:ml-10 lg:my-2 xl:text-5xl xl:ml-14 2xl:text-6xl
}

.copyright-sizes{
    @apply sm:text-base md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-4xl
}

.footer-items-space{
    @apply sm:p-5 md:p-10 lg:p-10 xl:p-10
}


