@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
    .btn {
        @apply rounded-full px-6 py-2 text-base font-bold transition-all duration-200;
    }

    .btn-small {
        @apply px-3 py-1 text-xs;
    }

    .btn-medium {
        @apply px-3 py-1 text-sm;
    }

    .btn-primary {
        @apply bg-accent text-white hover:bg-white hover:text-accent;
    }

    .btn-secondary {
        @apply bg-white text-accent hover:bg-accent hover:text-white;
    }

    .social-icon-p{
        @apply ml-5 sm:mt-1 sm:text-xl md:text-3xl md:ml-8 md:my-1 lg:text-4xl lg:ml-10 lg:my-2 xl:text-5xl xl:ml-14 2xl:text-6xl;
    }
    
    .copyright-sizes{
        @apply text-lg md:text-xl lg:text-2xl;
    }
    
    .footer-items-space{
        @apply sm:p-5 md:p-10 lg:p-10 xl:p-10;
    }
    
    .image-container {
        width: 100%;
    }
    
    .image-container > div {
        position: unset !important;
    }
    
    .image-container > .image {
        width: 100% !important;
        position: relative !important;
        height: unset !important;
        @apply object-contain;
    }

    .border-animate {
        @apply transition-all duration-500 border-2 border-white hover:border-accent;
    }

    .smooth-transition {
        @apply transition-all duration-200;
    }

    input[type=file]::-webkit-file-upload-button,
    input[type=file]::file-selector-button {
        @apply text-white bg-accent hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-1 pl-8 pr-4;
        margin-inline-start: -1rem;
        margin-inline-end: 1rem;
    }

    .animate-enter {
        @apply transition-all duration-150 w-[200vw] h-[200vw];
        animation: animate-enter 500ms linear 1;
    }

    .animate-leave {
        @apply transition-all duration-150 w-0 h-0;
        animation: animate-leave 500ms linear 1;
    }
}

@keyframes animate-enter {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 200vw;
        height: 200vw;
    }
}

@keyframes animate-leave {
    0% {
        width: 200vw;
        height: 200vw;
    }
    100% {
        width: 0%;
        height: 0%;
    }
}