@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
    .btn {
        @apply rounded-full px-6 py-2 text-base font-bold
    }

    .btn-primary {
        @apply bg-accent text-white hover:bg-white hover:text-accent
    }

    .btn-secondary {
        @apply bg-white text-accent hover:bg-accent hover:text-white
    }

    .social-icon-p{
        @apply ml-5 sm:mt-1 sm:text-xl md:text-3xl md:ml-8 md:my-1 lg:text-4xl lg:ml-10 lg:my-2 xl:text-5xl xl:ml-14 2xl:text-6xl
    }
    
    .copyright-sizes{
        @apply sm:text-base md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-4xl
    }
    
    .footer-items-space{
        @apply sm:p-5 md:p-10 lg:p-10 xl:p-10
    }
    
    .image-container {
        width: 100%;
    }
    
    .image-container > div {
        position: unset !important;
    }
    
    .image-container > .image {
        width: 100% !important;
        position: relative !important;
        height: unset !important;
        @apply object-contain
    }
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    @apply text-white bg-accent hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-1 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
}